.notification-modal {
  position: fixed;
  top: 20%;
  right: 20px;
  width: 300px;
  background: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  padding: 1rem;
  color: var(--text-color);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-item {
  margin-bottom: 1rem;
}

.notification-item a {
  color: var(--primary-color);
  text-decoration: underline;
}

.notification-bell {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.notification-bell svg {
  width: 24px;
  height: 24px;
}

.notification-dot {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}


@media (max-width: 768px) {
  .notification-bell {
    top: 1rem;
    /* move away from toggle icon */
    right: 5rem;
  }
}